<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configProtectedData defaultProvider="BNetKeysContainer">
    <providers>
      <add name="BNetKeysContainer" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="BNetKeysContainer" useMachineContainer="true" />
    </providers>
  </configProtectedData>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings configProtectionProvider="BNetKeysContainer">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>0BgNZJHZB6JE5lTH9SX0Yfmy3C34SqolK0YhpbjO4B1WYzdohnQjmseRT5ZSOeH2KF2RGA/z/RHxwUDhWZVRXZD1yR5Q02VuTV9CIU0zaM3546w1JD7DNj7bc6A0X+CVbJqpDKXIEuM3/FjdqKkkPM3STv92s79gIA1VSVSKkWw=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>UYrQyVG/bM9svns+0vFwH28GckXxUa6NRsa5fZ7vMROH+D+MuecuDzm3NvKqGH5hYp2gF0ZdhK/M9ixYaI3vc+rQG0E15o5G5pwYK5Vmq45T3NA2kgLI4B5qnQH2JghCq7pOPBapvKbWuEXM1qzkep418l5RWmxePwwWCbjD0HZeUvTN3X5aY4idYOCRQ1t1</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.20.0" newVersion="4.2.20.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>